    p { display: block; margin: 1em 0px; }
    body { font-family: 'Droid Serif', arial, serif; background-color: #73BE73; }
    h1 { font-family: 'Droid Sans', arial, serif; padding: 10px; margin-bottom: 0px; font-variant: small-caps; }
    h1 a { text-decoration: none; color: #3A5F3A; }
    h1 { font-size: 2em; font-weight: bold; }
    hgroup { position: fixed; width: 70%; z-index: 0; z-index: 1; -moz-box-shadow: 7px 7px 7px #3A5F3A;
        -webkit-box-shadow: 7px 7px 7px #3A5F3A;
        box-shadow: 7px 7px 7px #3A5F3A;}
    hgroup h1 { background-color: lightgreen; margin-top: 0px; }
    article { font-size: 12px; padding-bottom: 10px; border-bottom: 3px solid #3A5F3A; position: relative; z-index: 0; overflow: auto; }
	article { text-align: justify }
    section#main { width: 65%; float: left; background-color: white; padding: 10px; margin-top: 75px; }
    /*section#main:first-child { margin-top: 75px; }*/
    article p:last-of-type { clear-after: both }
    section#sidebar { width: 30%; float: right; background-color: lightgreen; position: fixed; left: 67%; z-index: 2; padding: 10px; font-size: 11px; -moz-box-shadow: 7px 7px 7px #3A5F3A;
        -webkit-box-shadow: 7px 7px 7px #3A5F3A;
        box-shadow: 7px 7px 7px #3A5F3A;}
    footer { clear: both }
    article > footer { position: absolute; top: 15px; left: 70%; width: 25%; border-bottom: 2px solid #3A5F3A; color: #3A5F3A; border-left: 1px solid; padding-left: 5px; padding-bottom: 5px; padding-top: 5px; font-size: 10px; font-weight: bold; }
/*    nav#tag-cloud ul { margin: 10px; padding: 0px; list-style: none; }
    nav#tag-cloud li { display: inline;     margin: 0 5px 0 0;
    padding: 0;
    line-height: 1.2;
    background: none;
}
nav#tag-cloud .rank-1  { font-size: 1.75em; }
nav#tag-cloud .rank-2  { font-size: 1.75em; }
nav#tag-cloud .rank-3  { font-size: 1.625em; }
nav#tag-cloud .rank-4  { font-size: 1.5em; }
nav#tag-cloud .rank-5  { font-size: 1.375em; }
nav#tag-cloud .rank-6  { font-size: 1.25em; }
nav#tag-cloud .rank-7  { font-size: 1.125em; }
nav#tag-cloud .rank-8  { font-size: 1em; }
nav#tag-cloud .rank-9  { font-size: 0.95em; }
nav#tag-cloud .rank-10 { font-size: 0.9em; }*/
section#copyright { font-style: italic; }
pre, code { font-family: 'Droid Sans Mono'; }
div.highlight { clear:both }
section#main article > p { line-height: 1.2 }
ul, menu, dir {
	display: block;
	list-style-type: square;
	line-height: 1.2;
}
li {
	display: list-item;
	margin-left: 3em;
}

aside {
	float: right;
	border: 1px dashed;
	margin: 0 5px;
	padding: 0 5px;

	font-size: 85%;
	width: 18%;
	font-style: oblique;
}

article aside p { line-height: 1.1; margin: 2px }
